.summaryError {
	margin: 1px 0;
	color: red;
}
.fieldContainer {
	margin-bottom: 15px;
}
.registerButton {
	border-radius: 3px;
	background-color: #5181b8;
	padding: 7px 16px 8px;
	text-align: center;
	border: 0;
	color: white;
}
.registerButton:hover {
	cursor: pointer;
	background-color: #365c88;
}
